<!DOCTYPE html>

<html>

<head>
    <meta name ="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <p>Quote Id: @Model.Id</p>
    <p>Quote Product:@Model.Product</p>
    <p>Expiration Date: @Model.ExpireDate</p>
    <p>Quote Price: @Model.Price</p>
</body>

</html>